section#trendingMangaContainer {
    width: 80%;
    color: #111;
    padding: 50px 0;
    margin: auto;
    /* border: 1px solid red; */
}

section#trendingMangaContainer .typography {
    width: 100%;
}

section#trendingMangaContainer .typography h2 {
    color: #111;
}

section#trendingMangaContainer .typography p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(74, 74, 74);
}



/* Mangas Container */
section#trendingMangaContainer .mangasContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin: 30px 0;
}

/* Mangas Item */
section#trendingMangaContainer .mangasContainer .item {
    display: flex;
    flex-direction: column;

    cursor: pointer;
    width: 230px;

    border: 1px solid #D8D8D8;
    border-radius: 3px;
}

section#trendingMangaContainer .mangasContainer .item:hover .title p {
    color: orangered;
}

/* Mangas Image */
section#trendingMangaContainer .mangasContainer .item img {
    width: inherit;
    border-radius: 3px 3px 0 0;
}

section#trendingMangaContainer .mangasContainer .item .title {
    padding: 10px;
    border-radius: 0 0 3px 3px;
}

section#trendingMangaContainer .mangasContainer .item .title p {
    font-weight: 500;
    text-align: left;
}